.App {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
  width: 70%; /* Extender el input al 70% del contenedor */
  border-radius: 5px; /* Añadir bordes redondeados */
}

.search-bar button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Añadir bordes redondeados */
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.recipe-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px; /* Añadir bordes redondeados */
}

.recipe-image-placeholder {
  height: 150px;
  background-color: #f0f0f0;
}

.recipe-text-placeholder {
  margin-top: 10px;
  height: 50px;
}

.recipe-item button {
  margin-top: 10px;
  background-color: #007bff; /* Cambiar color del botón a azul */
  color: #fff; /* Cambiar color del texto a blanco */
}

.recipe-title {
  font-size: 1.2em; 
  font-weight: bold; 
  margin-bottom: 5px;
}
